<h1>Can Rent</h1>
<form  action="/update/rentalNo-{{ can_rent.0 }}/catalogNo-{{ can_rent.1 }}/copyNo-{{ can_rent.2 }}" method = 'POST'>
    <input type = "text" name = "rentalNo" placeholder = "Rental No" value = "{{ can_rent.0 }}" disabled>
    <input type = "text" name = "catologNo" placeholder = "Catalog No" value = "{{ can_rent.1 }}" disabled>
    <input type = "text" name = "copyNo" placeholder = "Copy No" value = "{{ can_rent.2 }}" disabled>
    <input type = "date" name = "dateReturned" placeholder = "Date Returned" value = "{{ can_rent.3 }}">
    <button type = "submit">
        Save
    </button>
</form>
