{% extends 'layout.html' %}

{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <!-- Section: Rental Order begin -->
    <h1>StayHome App</h1>
    <a href="/rental_order">Add rental order</a><br>
    <a href="/member">Add member</a><br>
    <a href="/video">Add video</a><br>
    <a href="/actor">Add actor</a><br>
    <a href="/director">Add director</a><br>
    <a href="/staff">Add staff</a><br>
    <a href="/branch">Add branch</a><br>
    
{% endblock%}


